---
http_interactions:
- request:
    method: get
    uri: https://api.deezer.com/search?q=13%20instrumental
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-155
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"data":[{"id":139194903,"readable":true,"title":"Moist Cheeks","title_short":"Moist
        Cheeks","title_version":"","link":"https:\/\/www.deezer.com\/track\/139194903","duration":79,"rank":200039,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"preview":"https:\/\/cdns-preview-9.dzcdn.net\/stream\/c-93681c224e1838ba2416e0d3d4a79193-2.mp3","artist":{"id":11576693,"name":"Best
        Relaxing SPA Music, Massage Therapy Music, Sleep Sounds of Nature","link":"https:\/\/www.deezer.com\/artist\/11576693","picture":"https:\/\/api.deezer.com\/artist\/11576693\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/380d5d4ed34719de176eea45d3e285e9\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/380d5d4ed34719de176eea45d3e285e9\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/380d5d4ed34719de176eea45d3e285e9\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/380d5d4ed34719de176eea45d3e285e9\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/11576693\/top?limit=50","type":"artist"},"album":{"id":14962435,"title":"Relaxation
        Collection - 13 Soothing Instrumental Melodies for Deep Sleep, Yoga & Meditation,
        Stress Relief, Study Focus and Better","cover":"https:\/\/api.deezer.com\/album\/14962435\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/380d5d4ed34719de176eea45d3e285e9\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/380d5d4ed34719de176eea45d3e285e9\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/380d5d4ed34719de176eea45d3e285e9\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/380d5d4ed34719de176eea45d3e285e9\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/album\/14962435\/tracks","type":"album"},"type":"track"},{"id":13221463,"readable":true,"title":"Beethoven
        - Sonate 08 Opus 13 Pathetique Lullabay","title_short":"Beethoven - Sonate
        08 Opus 13 Pathetique Lullabay","title_version":"","link":"https:\/\/www.deezer.com\/track\/13221463","duration":445,"rank":164815,"explicit_lyrics":[...]
