---
http_interactions:
- request:
    method: get
    uri: https://api.deezer.com/search?q=Zeze%20instrumental
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-140
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"data":[{"id":590140702,"readable":true,"title":"Zeze (Instrumental)","title_short":"Zeze
        (Instrumental)","title_version":"","link":"https:\/\/www.deezer.com\/track\/590140702","duration":176,"rank":167310,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"preview":"https:\/\/cdns-preview-3.dzcdn.net\/stream\/c-3f0aad31dc2f49522f707665d159d9e3-2.mp3","artist":{"id":8931800,"name":"Finesse
        God","link":"https:\/\/www.deezer.com\/artist\/8931800","picture":"https:\/\/api.deezer.com\/artist\/8931800\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/4ceac27b3983f69d176813aaacb04b6e\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/4ceac27b3983f69d176813aaacb04b6e\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/4ceac27b3983f69d176813aaacb04b6e\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/4ceac27b3983f69d176813aaacb04b6e\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/8931800\/top?limit=50","type":"artist"},"album":{"id":79400172,"title":"Finesse
        I","cover":"https:\/\/api.deezer.com\/album\/79400172\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/5b4b97cb8fcf5a13caab5204af51a7e3\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/5b4b97cb8fcf5a13caab5204af51a7e3\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/5b4b97cb8fcf5a13caab5204af51a7e3\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/5b4b97cb8fcf5a13caab5204af51a7e3\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/album\/79400172\/tracks","type":"album"},"type":"track"},{"id":596552812,"readable":true,"title":"ZEZE
        (In the Style of Kodak Black feat. Travis Scott & Offset) [Karaoke Version]","title_short":"ZEZE
        (In the Style of Kodak Black feat. Travis Scott & Offset) [Karaoke Version]","title_version":"","link":"https:\/\/www.deezer.com\/t[...]
