---
http_interactions:
- request:
    method: get
    uri: https://api.deezer.com/search?q=%20instrumental
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-27
      Content-Type:
      - application/json; charset=utf-8
      Akamai-Age-Ms:
      - '1587915160925'
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"data":[{"id":502971112,"readable":true,"title":"Bella ciao (La casa
        de papel)","title_short":"Bella ciao","title_version":"(La casa de papel)","link":"https:\/\/www.deezer.com\/track\/502971112","duration":185,"rank":745213,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"preview":"https:\/\/cdns-preview-9.dzcdn.net\/stream\/c-97f46a5442f31d40c7c01776e4cb2cb4-4.mp3","artist":{"id":13730535,"name":"Instrumental
        Soon","link":"https:\/\/www.deezer.com\/artist\/13730535","picture":"https:\/\/api.deezer.com\/artist\/13730535\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/a7a62d12169f4ca69709ddaf447377b4\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/a7a62d12169f4ca69709ddaf447377b4\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/a7a62d12169f4ca69709ddaf447377b4\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/a7a62d12169f4ca69709ddaf447377b4\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/13730535\/top?limit=50","type":"artist"},"album":{"id":64141482,"title":"Bella
        ciao (La casa de papel)","cover":"https:\/\/api.deezer.com\/album\/64141482\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/a7a62d12169f4ca69709ddaf447377b4\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/a7a62d12169f4ca69709ddaf447377b4\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/a7a62d12169f4ca69709ddaf447377b4\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/a7a62d12169f4ca69709ddaf447377b4\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/album\/64141482\/tracks","type":"album"},"type":"track"},{"id":915500292,"readable":true,"title":"Journey
        of the Sands","title_short":"Journey of the Sands","title_version":"","link":"https:\/\/www.deezer.com\/track\/915500292","duration":188,"rank":214751,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"pr[...]
